html, body {
  background-color: #ECEFF1;
}
.toolbar {
  background-color: #01579B;
  color: #FFFFFF;
  font-size: 18px;
  
}

.appName {
  padding-left: 30px;
}

#settings {
  right: 5%;
  color: '#FFFFFF'
}

.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;	
}
.big-profile-picture {
  margin: 0 auto;
  border: 2px solid #0091EA;
  width: 40px;
  height: 40px;
	}
#username {
  margin: 25px 0 16px;
  text-align: center;
}
.notes {
  background-color: #0091EA;
  color: #FFFFFF;
  margin-bottom: 3px;
}
.graph {
  padding: 50px;
  background-color: #0091EA;
  color: #FFFFFF;
}