html, body {
  background-color: #ECEFF1;
  height: 100vh;
}
.toolbar {
  background-color: #01579B;
  color: #FFFFFF;
  font-size: 18px;
  
}
#grad1 {
  background: -webkit-linear-gradient(#EEEEEE, #FAFAFA); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EEEEEE, #FAFAFA); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EEEEEE, #FAFAFA); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EEEEEE, #FAFAFA);
}
#history {
  height: 100%;
  overflow-y: auto;
}
.appName {
  padding-left: 30px;
}

#settings {
  color: '#FFFFFF'
}

.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;	
}
.big-profile-picture {
  margin: 0 auto;
  border: 2px solid #0091EA;
  width: 40px;
  height: 40px;
	}
#username {
  margin: 25px 0 16px;
  text-align: center;
}
.notes {
  height: 80px;
  background-color: #0091EA;
  color: #FFFFFF;
  margin-bottom: 3px;
  margin-top: 8px;
  border-radius: 3px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}
.notesAdded {
  
}
md-card {
  border-radius: 3px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}
.graph {
  padding: 50px;
  background-color: #0091EA;
  color: #FFFFFF;
}