<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body id='grad1'>
  <md-toolbar  ng-controller='AppCtrl'>
    <div class="toolbar" layout='row'>
      <div flex='85'>
        <h2 class="appName" style="font-family:Lobster; font-size:40px; font-weight: 100; margin: 10px 0 20px 30px;"><img style='height:65px; width:65px; margin: 0 15px;' ng-src="../images/care.png" >Logster</h2>
      </div>
      <div flex='5' style='display: flex; align-items: center; justify-content: center;'>
        <img class="md-avatar" style='height:35px; width:35px; border: 2px solid #ECEFF1;border-radius: 100%;' ng-src="../images/user.png" >
      </div>
      <div flex='5' style='display: flex; align-items: center; justify-content: center;'>
        <md-button class="md-icon-button" id='settings' ng-click="textDialog($event)" style='height:30px; width:30px;'>
          <i class="material-icons">settings</i>
        </md-button>
      </div>
      
    </div>
  </md-toolbar>
  <!--<ul class="menu">
    <md-button ng-click="changeTab();"><a href="#!/view1">view1</a></md-button>
    <md-button ng-click="changeTab();"><a href="#!/view2">view2</a></md-button>
  </ul>-->

  <div style="margin: 5%" ng-view></div>


  <script type="text/ng-template" id="testDialog.tmpl.html">
    <md-dialog aria-label="Test Dialog" flex="30" style='display: flex; align-items: center; justify-content: center;'>
      <md-toolbar class="md-whiteframe-z2">
        <div class="md-toolbar-tools">
          <h3 flex>Contact information</h3>
        </div>
      </md-toolbar>
      <md-dialog-content>
          
          <md-content layout-gt-sm="row" layout-padding>
            <div>
              <md-input-container>
                <label>Me</label>
                <input ng-model="user.name">
              </md-input-container>
              <md-input-container>
                <label>Email</label>
                <input ng-model="user.email" type="email">
              </md-input-container>
            </div>
          </md-content>

          <md-content layout-gt-sm="row" layout-padding>
            <div>
              <md-input-container>
                <label>My Doctor</label>
                <input ng-model="doctor.name">
              </md-input-container>
              <md-input-container>
                <label>Email</label>
                <input ng-model="doctor.email" type="email">
              </md-input-container>
            </div>
          </md-content>

          <md-content layout-gt-sm="row" layout-padding>
            <div>
              <md-input-container>
                <label>My Family Member</label>
                <input ng-model="family.name">
              </md-input-container>
              <md-input-container>
                <label>Email</label>
                <input ng-model="family.email" type="email">
              </md-input-container>
            </div>
          </md-content>
          
      </md-dialog-content>
      <md-divider></md-divider>
      <md-dialog-actions layout="row">
        <md-button class='md-primary' ng-click="close()">
          SAVE
        </md-button>
      </md-dialog-actions>
    </md-dialog>
  </script>
  
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="services/service.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script> 
  <script src="bower_components/angular-animate/angular-animate.js"></script> 
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/chart.js/dist/Chart.min.js"></script>
  <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
</body>
</html>
