<div layout='row'>
  <div flex='40' layout='column'>
    <!--<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Kate</span>
          <span class="md-subhead"></span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media">
            <img width="100px" ng-src="../images/girl.png" >
          </div>
        </md-card-title-media>
      </md-card-title>
      
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Edit</md-button>
      </md-card-actions>
    </md-card>-->
    
    <md-card class='notes' ng-repeat="event in events">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" ng-if="isSL(event)"><img style="padding-right:5px;" ng-src="../images/blood.png"/>Sugar Level is: {{event.value}}</span>
          <span class="md-subhead">{{toTime(event)}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media"></div>
        </md-card-title-media>
      </md-card-title>
    </md-card>
    
  </div>
  
  
  <div flex='60'>
    <md-card>
      <div class='graph'>
        <canvas id="line" class="chart chart-line" chart-data="data" chart-colors="colors" chart-labels="labels" 
        chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
      </div>
    </md-card>
  </div>

</div>