<div layout='row' style="height:70vh;">
  <div flex='40' layout='column' id='history'>
    <!--<md-card class='notes' ng-repeat="event in events">
      <md-card-title style='height:30px;'>
        <md-card-title-text >
          <span class="md-headline" ng-if="isSL(event)"><img style="margin-right: 10px; justify-content: center;" ng-src="../images/blood.png"/>Sugar Level is: {{event.value}}</span>
          <span class="md-subhead" style="color:#B2EBF2; font-size:15px;">{{toTime(event)}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>-->
    <div class='notes' ng-repeat="event in events">
      <div style="margin: 10px;">
        <span class="md-headline"  ng-if="isSL(event)"><img style="margin-right: 10px; justify-content: center;" ng-src="../images/blood.png"/>Sugar Level is: {{event.value}}</span>
        <br />
        <span class="md-subhead" style="color:#B2EBF2; font-size:15px;">{{toTime(event)}}</span>
      </div>
    </div>
  </div>
  <div flex='60'>
    <md-card>
      <div class='graph'>
        <canvas id="line" class="chart chart-line" chart-data="data" chart-colors="colors" chart-labels="labels" 
        chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
      </div>
    </md-card>
  </div>
</div>